<aside
  x-data="{ showPanduan: false }"
  :class="sidebarToggle ? 'translate-x-0 lg:w-[90px]' : '-translate-x-full'"
  class="sidebar fixed top-0 left-0 z-999 flex h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 duration-400 lg:static lg:translate-x-0 dark:border-gray-800 dark:bg-black"
>
  <!-- SIDEBAR HEADER -->
  <div
    :class="sidebarToggle ? 'justify-center' : 'justify-between'"
    class="sidebar-header flex items-center gap-2 pt-8 pb-7"
  >
    <a
      href="index.html"
      :class="sidebarToggle ? 'justify-center' : 'justify-between'"
    >
      <span class="logo max-h-[40px]" :class="sidebarToggle ? 'hidden' : ''">
        <img
          class="h-[40px] object-contain pl-9 dark:hidden"
          src="./images/logo/logo-full.svg"
          alt="Logo"
        />
        <img
          class="hidden h-[40px] object-contain pl-9 dark:block"
          src="./images/logo/logo-full-dark.svg"
          alt="Logo"
        />
      </span>

      <img
        class="logo-icon max-h-[40px] max-w-[80px] object-contain"
        :class="sidebarToggle ? 'block' : 'hidden'"
        src="./images/logo/logo-dark.svg"
        alt="Logo"
      />
    </a>
  </div>
  <!-- SIDEBAR HEADER -->

  <div class="no-scrollbar flex flex-col overflow-y-auto">
    <!-- Sidebar Menu -->
    <nav>
      <!-- Menu Group -->
      <div>
        <ul class="mt-6 mb-6 flex flex-col gap-4">
          <!-- Menu Item Index -->
          <li>
            <a
              href="index.html"
              class="menu-item group"
              :class="page === 'index' ? 'menu-item-active pointer-events-none' : 'menu-item-inactive'"
            >
              <svg
                :class="page === 'index' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8 2C8.41421 2 8.75 2.33579 8.75 2.75V3.75H15.25V2.75C15.25 2.33579 15.5858 2 16 2C16.4142 2 16.75 2.33579 16.75 2.75V3.75H18.5C19.7426 3.75 20.75 4.75736 20.75 6V9V19C20.75 20.2426 19.7426 21.25 18.5 21.25H5.5C4.25736 21.25 3.25 20.2426 3.25 19V9V6C3.25 4.75736 4.25736 3.75 5.5 3.75H7.25V2.75C7.25 2.33579 7.58579 2 8 2ZM8 5.25H5.5C5.08579 5.25 4.75 5.58579 4.75 6V8.25H19.25V6C19.25 5.58579 18.9142 5.25 18.5 5.25H16H8ZM19.25 9.75H4.75V19C4.75 19.4142 5.08579 19.75 5.5 19.75H18.5C18.9142 19.75 19.25 19.4142 19.25 19V9.75Z"
                  fill=""
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                Dashboard
              </span>
            </a>
          </li>
          <!-- Menu Item Index -->

          <!-- Menu Item TOE -->
          <li>
            <a
              href="toe.html"
              class="menu-item group"
              :class="page === 'toe' 
                      ? 'menu-item-active pointer-events-none' 
                      : (page === 'eor' || page === 'reviewreport' || page === 'reviewreportsign' 
                          ? 'menu-item-active' 
                          : 'menu-item-inactive')"
            >
              <svg
                :class="page === 'toe' || page === 'eor' || page === 'reviewreport' || page === 'reviewreportsign' ? 'menu-item-icon-active'  :'menu-item-icon-inactive'"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.75586 5.50098C7.75586 5.08676 8.09165 4.75098 8.50586 4.75098H18.4985C18.9127 4.75098 19.2485 5.08676 19.2485 5.50098L19.2485 15.4956C19.2485 15.9098 18.9127 16.2456 18.4985 16.2456H8.50586C8.09165 16.2456 7.75586 15.9098 7.75586 15.4956V5.50098ZM8.50586 3.25098C7.26322 3.25098 6.25586 4.25834 6.25586 5.50098V6.26318H5.50195C4.25931 6.26318 3.25195 7.27054 3.25195 8.51318V18.4995C3.25195 19.7422 4.25931 20.7495 5.50195 20.7495H15.4883C16.7309 20.7495 17.7383 19.7421 17.7383 18.4995L17.7383 17.7456H18.4985C19.7411 17.7456 20.7485 16.7382 20.7485 15.4956L20.7485 5.50097C20.7485 4.25833 19.7411 3.25098 18.4985 3.25098H8.50586ZM16.2383 17.7456H8.50586C7.26322 17.7456 6.25586 16.7382 6.25586 15.4956V7.76318H5.50195C5.08774 7.76318 4.75195 8.09897 4.75195 8.51318V18.4995C4.75195 18.9137 5.08774 19.2495 5.50195 19.2495H15.4883C15.9025 19.2495 16.2383 18.9137 16.2383 18.4995L16.2383 17.7456Z"
                  fill=""
                />
              </svg>

              <span
                class="menu-item-text"
                :class="sidebarToggle ? 'lg:hidden' : ''"
              >
                TOE
              </span>
            </a>
          </li>
          <!-- Menu Item TOE -->
          <!-- Panduan parent menu item with dropdown toggle -->
          <li>
              <div class="group">
                  <a
                      href="#"
                      @click.prevent="showPanduan = !showPanduan"
                      class="menu-item group flex items-center justify-between cursor-pointer"
                      :class="page.startsWith('panduan') ? 'menu-item-active' : 'menu-item-inactive'"
                  >
                      <span class="flex items-center">
                          <svg
                              :class="page.startsWith('panduan') ? 'menu-item-icon-active' : 'menu-item-icon-inactive'"
                              width="24"
                              height="24"
                              viewBox="0 0 24 24"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                          >
                              <path
                                  fill-rule="evenodd"
                                  clip-rule="evenodd"
                                  d="M6 4C5.44772 4 5 4.44772 5 5V19C5 19.5523 5.44772 20 6 20H18C18.5523 20 19 19.5523 19 19V5C19 4.44772 18.5523 4 18 4H6ZM7 6H17V18H7V6ZM9 8V16H15V8H9Z"
                                  fill="currentColor"
                              />
                          </svg>
                          <span
                              class="menu-item-text"
                              :class="sidebarToggle ? 'lg:hidden' : ''"
                          >
                              Panduan
                          </span>
                      </span>
                      <!-- Chevron icon for dropdown -->
                      <svg
                          class="ml-2 w-4 h-4 transition-transform duration-200"
                          :class="showPanduan ? 'rotate-180' : ''"
                          fill="none"
                          stroke="currentColor"
                          viewBox="0 0 24 24"
                      >
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                      </svg>
                  </a>
                  <!-- Submenu, toggled by showPanduan, using x-show and x-collapse -->
                  <ul
                      class="mt-2 flex flex-col gap-2"
                      x-show="showPanduan"
                      x-collapse
                  >
                      <li>
                          <a
                              href="panduan1.html"
                              class="menu-item group"
                              :class="page === 'panduan1' ? 'menu-item-active pointer-events-none' : 'menu-item-inactive'"
                          >
                            <span >Tahapan Sertifikasi</span>
                          </a>
                      </li>
                      <li>
                          <a
                              href="panduan2.html"
                              class="menu-item group"
                              :class="page === 'panduan2' ? 'menu-item-active pointer-events-none' : 'menu-item-inactive'"
                          >
                            <span >Keluhan dan Banding</span>
                          </a>
                      </li>
                      <li>
                          <a
                              href="panduan3.html"
                              class="menu-item group"
                              :class="page === 'panduan3' ? 'menu-item-active pointer-events-none' : 'menu-item-inactive'"
                          >
                            <span >Surveillance</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </li>
          <!-- End Panduan parent menu item -->
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->
  </div>
</aside>
